/* Shared styles*/
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Lato', sans-serif;
}
*{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
/* CUSTOM STYLE */
.p-100{
    padding: 0 100px;
}
/* CUSTOM STYLE */
.features-content h1 {
    font-size: 32px;
}
/* START NAVIGATION STYLE */
.navigstion {
    display: flex;
    justify-content: space-between;
}
.navigstion {
    display: flex;
    background: #FCEEF1;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
img.logo {
    width: 71px;
    height: 71px;
    margin: 10px 0 10px 60px;
    cursor: pointer;
}
.nav-content {
    display: flex;
    align-items: center;
}
ul.menus li a {
    font-size: 20px;
    text-transform: capitalize;
    color: #E55473;
    text-decoration: none;
    font-weight: bold;
}
ul.menus li {
    margin-right: 36px;
    margin-left: 0;
}
ul.menus {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* START BANNER STYLE */
.banner {
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-y: hidden;
    margin-top: 90px;
}

img.banner-img {
    height: 90%;
    flex-shrink: 0;
    width: 350px;
    margin-top: 50px;
}
.banner-content {
    width: 400px;
}
.banner-content h1 {
    color: #272727;
    font-size: 39px;
    font-weight: 800;
}
.banner-content p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 13px;
    line-height: 18px;
    padding: 22px 0 22px 0;
}
button.btn {
    border-radius: 5px;
    background: #E55473;
    color: #fff;
    font-weight: 600;
    border-color: rgba(229, 84, 115, 0.10);
    border-color: none;
    padding: 8px 12px;
    font-size: 10px;
}
/*START FEATURES STYLE*/
.feaures-section {
    padding: 80px 0;
}
.features-title {
    display: flex;
    justify-content: center;
    text-align: center;
}
.features-content p {
    width: 522px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 0 60px;
}
.box-1 {
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.box-1 img {
    width: 250px;
    height: 340px;
}
.box-content {
    width: 310px;
    text-align: center;
}
.box-content a {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    padding-top: 14px;
    display: inline-block;
    font-size: 15px;
}
.box-1.bg-1 {
    background: rgba(5, 151, 160, 0.15);
}
.box-1.bg-2 {
    background: rgba(71, 125, 17, 0.15);
}
/*START DISCOUNT-AREA STYLE*/
.section.discount.p-100 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 50px 0;
}
.discount-subcontent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.discount-content p {
    width: 522px;
}
.discount-content p {
    width: 368px;
    font-size: 11px;
    line-height: 20px;
}
.item img {
    width: 180px;
    height: 240px;
    flex-shrink: 0;
    padding-right: 100px;
}
.discount-content h4 {
    font-weight: 800;
    padding-bottom: 10px;
    font-size: 22px;
}
span.percent {
    color: #E55473;
}
.discount-content {
    padding-left: 100px;
}
button.ds-btn {
    border-radius: 5px;
    background: #E55473;
    padding: 9px 21px;
    color: #fff;
    font-weight: 600;
    border-color: rgba(229, 84, 115, 0.05);
    margin-top: 10px;
    font-size: 10px;
}
.service-icon h6 {
    padding-top: 12px;
    color: #2727279e;
    font-size: 12px;
    font-style: normal;
}
.service-icon img {
    width: 42px;
    height: 42px;
}
.section-title {
    display: flex;
    justify-content: center;
    text-align: center;
}
.section-content h1 {
    font-size: 32px;
}
.section-content p {
    width: 522px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 0 26px;
}
.section-social.p-100 {
    padding-top: 80px;
}
.social-content {
    width: 238px;
}
.social-img {
    display: flex;
    justify-content: space-around;
}
.social-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.social-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.social-3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.social-4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.social-img {
    gap: 22px;
    display: flex;
    justify-content: center;
}
.social-content {
    width: 236px;
    height: 300px;
}
.section-social.p-100 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact-info {
    width: 1010px;
}
.section-banner {
    width: 100%;
    margin-left: 0px;
    height: 350px;
    background: url(../images/Rectangle9.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
}
input[type="text"] {
    flex-shrink: 0;
    width: 377px;
    height: 34px;
    padding-left: 12px;
    border-radius: 8px;
    background: #FFF;
    color: #000;
    border-color: magenta;
}
button {
    padding: 9px 16px;
    flex-direction: column;
    flex-shrink: 0;
    background: #da0046;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border-color: red;
    border-color: EBEFF0;
}
.footer {
    background: #000;
    padding: 150px;
}
.section-contact.p-100 {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
span.unique-2 {
    color: #faf7f8;
    font-size: 40px;
    font-weight: 800;
}
span.unique-1 {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}
.footer-content {
    text-align: center;
}
.footer-content p {
    width: 590px;
    font-size: 17px;
    margin: auto;
    padding: 12px 0;
    color: rgba(255, 255, 255, 0.90);
}
.footer-content h6 {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-weight: 400;
}
.footer {
    background: #111010;
    height: 150pxpx;
}